@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ToolsForEver</h1>
    <p class="lead">Welkom op de website van ToolsForEver. </p>
    <p>Hier wat informatie over ToolsForEver...</p>
    <p>ToolsForEver is een groothandel in gereedschap...</p>
    <div class="form-group">

        @Html.ActionLink("Contact informatie", "Contact")
    </div>
</div>